@page "/Gifts"
@using Microsoft.EntityFrameworkCore
@using MyList.Data_Access
@using MyList.Models
@attribute [StreamRendering]
@inject GiftListContext _context

@if (giftLists == null)
{
    <p>Loading...</p>
}
else
{
    <h1>My Lists</h1>

    @foreach (var group in giftLists.GroupBy(g => g.ListName))
    {
        <h3>@group.Key</h3>
        <ul>
            @foreach (var gift in group)
            {
                @if (!string.IsNullOrEmpty(gift.GiftName)) 
                {
                    <li>
                        <input type="checkbox" @bind="gift.IsPurchased" @oninput="(async () => await UpdateGift(gift))" /> <label>Done</label>
                        <strong>@gift.GiftName</strong> - @gift.GiftDescription
                    </li>
                }
            }
        </ul>
    }
}

@code {
    private List<GiftList> giftLists;

    protected override async Task OnInitializedAsync()
    {
        giftLists = await _context.GiftLists.ToListAsync();
    }

    private async Task UpdateGift(GiftList gift)
    {
        _context.Entry(gift).State = EntityState.Modified;
        await _context.SaveChangesAsync();
    }
}